<nav class="navbar fixed-top navbar-light navbar-expand-lg bg-white">
    <div class="container">
        {% if current_page.values.logo.value %}
            <a href="/" class="navbar-brand"><img src="{{ asset(current_page.values.logo) }}" alt="{{ web.values.title.value }}" class="navbar-brand-img"></a>
        {% elseif web.values.logo.value %}
            <a href="/" class="navbar-brand"><img src="{{ asset(web.values.logo) }}" alt="{{ web.values.title.value }}" class="navbar-brand-img"></a>
        {% elseif web.values.title.value %}
            <h1 class="navbar-brand"><a href="/">{{ web.values.title.value }}</a></h1>
        {% endif %}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fe fe-x"></i>
            </button>
            <ul class="navbar-nav ms-auto">
                {% for page in menu %}
                    <li class="nav-item">
                        <a class="nav-link {% if page.values.url.value == current_page.values.url.value %}active{% endif %}" href="/{{ page.values.url.value }}">{{ page.values.menu.value }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>