{% import "/macros/tool.html.twig" as macros %}

{% macro drawSubmenu(page,current_page,level) %}
    {% if page.childrens|length > 0 %}
        {% if level > 1 %}
            <div class="dropdown-menu ps-sm-4">
                {% if page.values.url.value != '#' %}
                    <a class="dropdown-item  {% if page.values.url.value == current_page.values.url.value %}active{% endif %}" href="{{ href(page.values.url.value)|spaceless }}"{% if page.values.target.value %} target="{{ page.values.target.value }}"{% endif %}>{{ page.values.menu.value }}</a>
                {% endif %}

                {% for page in page.childrens %}
                    <a class="{% if page.values.url.value == current_page.values.url.value %}active{% endif %} dropdown-item {{ page.childrens|length ? 'dropdown-toggle':'' }}" {{ page.childrens|length ? 'data-bs-toggle="dropdown" aria-expanded="false"':'' }}
                       href="{{ href(page.values.url.value)|spaceless }}"{% if page.values.target.value %} target="{{ page.values.target.value }}"{% endif %}>
                        {{ page.values.menu.value }}
                    </a>
                    {% if page.childrens|length > 0 %}
                        {% set level = level+1 %}
                        {{ _self.drawSubmenu(page,current_page,level) }}
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <ul class="dropdown-menu ps-sm-4" aria-labelledby="navbar_{{ page.id }}">
                {% if page.values.url.value != '#' %}
                    <li class="dropdown-item">
                        <a class="dropdown-link  {% if page.values.url.value == current_page.values.url.value %}active{% endif %}" href="{{ href(page.values.url.value)|spaceless }}"{% if page.values.target.value %} target="{{ page.values.target.value }}"{% endif %}>{{ page.values.menu.value }}</a>
                    </li>
                {% endif %}

                {% for page in page.childrens %}
                    <li class="dropdown-item {{ page.childrens|length > 0 ? 'dropend' : '' }}">
                        <a class="{% if page.values.url.value == current_page.values.url.value %}active{% endif %} dropdown-link {{ page.childrens|length ? 'dropdown-toggle':'' }}" {{ page.childrens|length ? 'data-bs-toggle="dropdown" aria-expanded="false"':'' }}
                           href="{{ href(page.values.url.value)|spaceless }}"{% if page.values.target.value %} target="{{ page.values.target.value }}"{% endif %}>
                            {{ page.values.menu.value }}
                        </a>
                        {% if page.childrens|length > 0 %}
                            {% set level = level+1 %}
                            {{ _self.drawSubmenu(page,current_page,level) }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endmacro %}

<nav class="navbar fixed-top navbar-light navbar-expand-lg bg-white">
    <div class="container">
        {% if current_page.values.logo.value %}
            <a href="/" class="navbar-brand"><img src="{{ asset(current_page.values.logo) }}" alt="{{ web.values.title.value }}" class="navbar-brand-img"></a>
        {% elseif web.values.logo.value %}
            <a href="/" class="navbar-brand"><img src="{{ asset(web.values.logo) }}" alt="{{ web.values.title.value }}" class="navbar-brand-img"></a>
        {% elseif web.values.title.value %}
            <h1 class="navbar-brand"><a href="/">{{ web.values.title.value }}</a></h1>
        {% endif %}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fe fe-x"></i>
            </button>
            <ul class="navbar-nav ms-auto">
                {% for page in menus.nav %}
                    <li class="nav-item {{ page.childrens|length > 0 ? 'dropdown' : '' }}">
                        <a class="nav-link  {{ page.childrens|length > 0 ? 'dropdown-toggle' : '' }} {% if page.values.url.value == current_page.values.url.value %}active{% endif %}"
                            {% if page.childrens|length > 0 %}
                                id="navbar_{{ page.id }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            {% endif %}
                            href="{{ href(page.values.url.value)|spaceless }}"{% if page.values.target.value %} target="{{ page.values.target.value }}"{% endif %}>{{ page.values.menu.value }}</a>
                        {% if page.childrens|length > 0 %}
                            {{ _self.drawSubmenu(page,current_page,1) }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>