{% macro buildSection(current_section) %}
    <div style="{{ _self.getStyles(current_section, "")|trim }}">
        <div class="{{ current_section.classes|join(" ") }}">
            <div class="row gy-5">

                {% set columns = current_section.columns %}
                {% if columns == "col-3_col-3_col-3_col-3" %}
                    {% set columns = "col-sm-6 col-lg-3_col-sm-6 col-lg-3_col-sm-6 col-lg-3_col-md-3" %}
                {% elseif columns == "col-4_col-4_col-4" %}
                    {% set columns = "col-sm-6 col-lg-4_col-sm-6 col-lg-4_col-sm-6 col-lg-4" %}
                {% else %}
                    {% set columns = columns|replace({"col-": "col-md-"}) %}
                {% endif %}

                {% set columnsClasses = columns|split("_") %}
                {% for key, current_bloc in current_section.blocs %}
                    {% set newColumn = not current_bloc.same_column %}
                    {% set closeColumn = not current_section.blocs[key+1].same_column %}
                    {% set keyToSearch = key % columnsClasses|length %}
                    {% set columnClass = columnsClasses[keyToSearch] %}

                    {% if newColumn %}<div class="{{ columnClass }}">{% endif %}
                    {{ include('blocs/' ~ current_bloc.type ~ '.html.twig', {current_bloc: current_bloc}, with_context = true) }}
                    {% if closeColumn %}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro getStyles(element, prefix) %}
    {% set styles = [] %}
    {% if attribute(element, prefix ~ "color") %}
        {% set styles = styles|merge(["color: " ~ attribute(element, prefix ~ "color") ~ "!important"]) %}
    {% endif %}

    {# Background #}
    {% set backgrounds = [] %}
    {% if attribute(element, prefix ~ "background_image") %}
        {% if attribute(element, prefix ~ "background_color") and attribute(element, prefix ~ "background_color_alt") %}
            {% set backgrounds = backgrounds|merge(["linear-gradient(180deg, "~attribute(element, prefix ~ "background_color")~" 0%, "~attribute(element, prefix ~ "background_color_alt")~" 100%)"]) %}
        {% elseif attribute(element, prefix ~ "background_color") %}
            {% set backgrounds = backgrounds|merge(["linear-gradient(180deg, "~attribute(element, prefix ~ "background_color")~" 0%, "~attribute(element, prefix ~ "background_color")~" 100%)"]) %}
        {% elseif attribute(element, prefix ~ "background_color_alt") %}
            {% set backgrounds = backgrounds|merge(["linear-gradient(180deg, "~attribute(element, prefix ~ "background_color_alt")~" 0%, "~attribute(element, prefix ~ "background_color_alt")~" 100%)"]) %}
        {% endif %}
        {% set backgrounds = backgrounds|merge(["url("~asset(attribute(element, prefix ~ "background_image"))~") center center no-repeat"]) %}
    {% elseif attribute(element, prefix ~ "background_color") and attribute(element, prefix ~ "background_color_alt") %}
        {% set backgrounds = backgrounds|merge(["linear-gradient(180deg, "~attribute(element, prefix ~ "background_color")~" 0%, "~attribute(element, prefix ~ "background_color_alt")~" 100%)"]) %}
    {% elseif attribute(element, prefix ~ "background_color") %}
        {% set backgrounds = backgrounds|merge([attribute(element, prefix ~ "background_color")]) %}
    {% elseif attribute(element, prefix ~ "background_color_alt") %}
        {% set backgrounds = backgrounds|merge([attribute(element, prefix ~ "background_color_alt")]) %}
    {% endif %}

    {% if backgrounds %}
        {% set styles = styles|merge(["background:" ~ backgrounds|join(", ") ~ "!important", "background-repeat: no-repeat!important", "background-size: cover!important"]) %}
    {% endif %}

    {{ styles|join("; ") }}
{% endmacro %}

{% macro img(current_bloc,classes="",html="") %}
    {% if current_bloc.image_link %}<a href="{{ current_bloc.image_link }}">{% endif %}
    <img class="{{ classes }}" src="{{ asset(current_bloc.image) }}" {{ html }} alt="{{ current_bloc.image.client_name }}">
    {% if current_bloc.image_link %}</a>{% endif %}
{% endmacro %}

{% macro header(current_bloc, level = "1",classes="",html="") %}
     <h{{ level}} class="{{ current_bloc.classes|join(" ") }} {{ classes }} " style="{{ _self.getStyles(current_bloc, "title_")|trim }}"  {{ html }}>{{ current_bloc.title|snl2br|raw }}</h{{ level }}>
{% endmacro %}

{% macro button(current_bloc, classes="",html="") %}
    <div class="{{ current_bloc.button_align }}">
        <a href="{{ current_bloc.button_link ?: "#" }}" target="{{ current_bloc.button_target ?: "_self" }}" style="{{ _self.getStyles(current_bloc, "button_")|trim }}" class="mt-5 btn {{ current_bloc.button_classes|join(" ") }} {{ classes }}" {{ html }}>
            {% if current_bloc.button_logo %}
                <img src="{{ asset(current_bloc.button_logo) }}" class="me-2">
            {% elseif current_bloc.button_icon %}
                <i class="{{ current_bloc.button_icon }} fa-fw me-2"></i>
            {% endif %}
            {{ current_bloc.button_text }}
        </a>
    </div>
{% endmacro %}

{% macro icon(current_bloc, classes="",html="") %}
    <div class="{{ current_bloc.icon_classes|join(" ") }} {{ classes }}">
        {% set elementAttr = 'class="icon-circle bg-primary text-white" style="'~_self.getStyles(current_bloc, "icon_")|trim~'"' %}
        {% set elementIcon = '<i class="'~current_bloc.icon_icon~' fa-lg"></i>' %}
        {% if current_bloc.icon_logo %}
            {% set elementIcon = '<img src="'~asset(current_bloc.icon_logo)~'" style="width:2.5rem; height:2.5rem; object-fit:contain;">' %}
        {% endif %}

        {% if current_bloc.icon_link %}
            <a href="{{ current_bloc.icon_link }}" target="{{ current_bloc.icon_target }}" {{ elementAttr|raw }}>{{ elementIcon|raw }}</a>
        {% else %}
            <span {{ elementAttr|raw }}>{{ elementIcon|raw }}</span>
        {% endif %}
    </div>
{% endmacro %}

{% macro label(current_bloc, number, classes="",html="") %}
  <span class="badge rounded-pill" style="{{ _self.getStyles(current_bloc, "label_"~number~"_")|trim }}">
      {% if attribute(current_bloc,"label_"~number~"_link") %}
          <a class="h6" href="{{ attribute(current_bloc,"label_"~number~"_link") }}" target="{{ attribute(current_bloc,"label_"~number~"_target") }}" style="color: inherit;">{{ attribute(current_bloc,"label_"~number~"_label") }}</a>
      {% else %}
          <span class="h6">{{ attribute(current_bloc,"label_"~number~"_label") }}</span>
      {% endif %}
  </span>
{% endmacro %}

{% macro files(current_bloc, classes="",html="") %}
    <ul class="list-unstyled py-5 mt-5 border-top {{ classes }}" {{ html }}>
        {% for file in current_bloc.files %}
            {% if file.extension == "jpg" or file.extension == "jpeg" or file.extension == "png" or file.extension == "gif" %}
                {% set icon = "fa-file-image" %}
            {% elseif file.extension == "pdf" %}
                {% set icon = "fa-file-pdf" %}
            {% elseif file.extension == "doc" or file.extension == "docx" %}
                {% set icon = "fa-file-word" %}
            {% elseif file.extension == "xls" or file.extension == "xlsx" or file.extension == "csv" %}
                {% set icon = "fa-file-excel" %}
            {% else %}
                {% set icon = "fa-file" %}
            {% endif %}
            <li><a href="{{ asset(file) }}" target="_blank"><i class="fad {{ icon }} fa-fw fa-lg"></i> {{ file.client_name }}</a></li>
        {% endfor %}
    </ul>
{% endmacro %}