{% import "/macros/tool.html.twig" as macros %}

{% if current_bloc.can_view %}
    <div class="{{ macros.getBlocClasses(current_bloc) }}" style="{{ macros.getStyles(current_bloc, "")|trim }}" {{ macros.getEditableBloc(current_bloc) }} data-aos="fade-up" data-aos-delay="200">
        {% if current_bloc.accounts|length > 0 %}
            <div class="row mb-6 mb-md-8">
                <div class="col-auto">
                    <!-- Icon -->
                    <div class="icon-circle bg-primary text-white">
                        <i class="fe fe-users"></i>
                    </div>
                </div>
                <div class="col ms-n4">
                    <h2 class="fw-bold mb-0">Bonjour {{ current_bloc.accounts[0].values.firstname.label }} {{ current_bloc.accounts[0].values.lastname.label }}</h2>
                    <p class="fs-lg text-gray-700 mb-0">Bienvenue sur votre espace client PPE</p>
                </div>
            </div>
            <hr class="border-gray-300 my-6 my-md-8">
        {% endif %}

        {% for accountKey, account in current_bloc.accounts %}
            <div>
                <h3 class="fw-bold mb-5">Lot n°{{ account.values.n_lot.label }}</h3>

                {% set nbFiles = account.values.files|length %}

                {% if account.values.devis_ppe|length > 0 %}
                {% set devisPpeObjects = getElements(account.values.devis_ppe[0].moduleId, account.values.devis_ppe) %}
                {% endif %}

                <div class="mb-5" id="a{{ accountKey }}">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card border shadow-light-lg">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <!-- Fichiers BTN -->
                                        {% if nbFiles > 0 %}
                                            <li class="list-group-item" data-bs-toggle="collapse" data-bs-target="#a{{ accountKey }}Files">Fichiers</li>
                                        {% endif %}

                                        <!-- Devis PPE BTN -->
                                        {% for devisKey, devis in devisPpeObjects %}
                                            <li class="list-group-item" data-bs-toggle="collapse" data-bs-target="#a{{ accountKey }}Devis{{ devisKey }}">{{ devis.values.name_devis_ppe.label }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <!-- Fichiers CONTENT -->
                            {% if nbFiles > 0 %}
                            <div class="card border shadow-light-lg collapse" data-bs-parent="#a{{ accountKey }}" id="a{{ accountKey }}Files">
                                <div class="card-body">
                                    <ul class="list">
                                        {% for file in account.values.files %}
                                            <li class="list-item"><a class="list-link" target="_blank" download="{{ file.label }}" href="http://{{ config.api_client }}.{{ config.api_domain }}/api/v1/file/{{ file.id }}/{{ file.key }}">{{ file.label }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}

                            <!-- Devis PPE CONTENT -->
                            {% for devisKey, devis in devisPpeObjects %}
                            <div class="card border shadow-light-lg collapse" data-bs-parent="#a{{ accountKey }}" id="a{{ accountKey }}Devis{{ devisKey }}">
                                <div class="card-body">
                                    <table class="table table-bordered table-sm">
                                        <tr>
                                            <th>Nom</th>
                                            <td>{{ devis.values.name_devis_ppe.label }}</td>
                                        </tr>
                                        <tr>
                                            <th>Catégorie</th>
                                            <td>{{ devis.values.categorie_devis_ppe.label }}</td>
                                        </tr>
                                        <tr>
                                            <th>Statut</th>
                                            <td>{{ devis.values.status_devis_ppe.label }}</td>
                                        </tr>
                                        <tr>
                                            <th>N°</th>
                                            <td>{{ devis.values.n_devis_ppe.label }}</td>
                                        </tr>
                                        <tr>
                                            <th>Version</th>
                                            <td>{{ devis.values.version_devis_ppe.label }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% if not loop.last %}
                <hr class="border-gray-300 my-6 my-md-8">
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    {% include 'includes/account_login_form.html.twig' %}
{% endif %}