{% import "/macros/tool.html.twig" as macros %}

{% if current_bloc.can_view %}
    <div class="{{ macros.getBlocClasses(current_bloc) }}" style="{{ macros.getStyles(current_bloc, "")|trim }}" {{ macros.getEditableBloc(current_bloc) }} data-aos="fade-up" data-aos-delay="200">
        {% if current_bloc.accounts|length > 0 %}
            <div class="row mb-6 mb-md-8">
                <div class="col-auto">
                    <!-- Icon -->
                    <div class="icon-circle bg-primary text-white">
                        <i class="fe fe-users"></i>
                    </div>
                </div>
                <div class="col ms-n4">
                    <h2 class="fw-bold mb-0">Bonjour {{ current_bloc.accounts[0].values.firstname.value }} {{ current_bloc.accounts[0].values.lastname.value }}</h2>
                    <p class="fs-lg text-gray-700 mb-0">Bienvenue sur votre espace client PPE</p>
                </div>
            </div>
            <hr class="border-gray-300 my-6 my-md-8">
        {% endif %}

        {% for accountKey, account in current_bloc.accounts %}
            <div>
                <h3 class="fw-bold">Lot n°{{ account.values.n_lot.value }}</h3>
                <div class="accordion shadow-light-lg mb-5 mb-md-6" id="account{{ accountKey }}">

                    <!-- Fichiers -->
                    {% set nbFiles = account.values.files|length %}
                    {% if nbFiles > 0 %}
                        {% set itemId = "account" ~ accountKey ~ "File" %}

                        <div class="accordion-item">
                            <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#{{ itemId }}" aria-expanded="false" aria-controls="{{ itemId }}">
                                <span class="me-4" id="{{ itemId }}Heading">Fichiers</span>
                                <div class="text-muted ms-auto"><span class="fs-sm me-4 d-none d-md-inline">{{ nbFiles }} élément{{ nbFiles > 1 ? "s" : "" }}</span></div>
                            </div>

                            <div class="accordion-collapse collapse" id="{{ itemId }}" aria-labelledby="{{ itemId }}Heading" data-bs-parent="#account{{ accountKey }}">
                                <div class="accordion-body">
                                    <ul class="list">
                                        {% for file in account.values.files %}
                                            <li class="list-item"><a class="list-link" target="_blank" download="{{ file.label }}" href="http://{{ config.api_client }}.{{ config.api_domain }}/api/v1/file/{{ file.id }}/{{ file.key }}">{{ file.label }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <!-- Devis PPE -->
                    {% set nbDevisPpe = account.values.devis_ppe|length %}
                    {% if nbDevisPpe > 0 %}
                        {% set devisPpeObjects = getElements(account.values.devis_ppe[0].moduleId, account.values.devis_ppe) %}
                        {% set itemId = "account" ~ accountKey ~ "DevisPPE" %}

                        <div class="accordion-item">
                            <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#{{ itemId }}" aria-expanded="false" aria-controls="{{ itemId }}">
                                <span class="me-4" id="{{ itemId }}Heading">Devis PPE</span>
                                <div class="text-muted ms-auto"><span class="fs-sm me-4 d-none d-md-inline">{{ nbDevisPpe }} élément{{ nbDevisPpe > 0 ? "s" : "" }}</span></div>
                            </div>

                            <div class="accordion-collapse collapse" id="{{ itemId }}" aria-labelledby="{{ itemId }}Heading" data-bs-parent="#account{{ accountKey }}">
                                <div class="accordion-body">
                                    <div class="row">
                                        {% for devis in devisPpeObjects %}
                                            <div class="col-md-3 col-sm-6">
                                                <div class="card border border-success">
                                                    <div class="card-body">
                                                        <h4 class="fw-bold">{{ devis.values.name_devis_ppe.value }}</h4>
                                                        <p class="text-muted mb-0">N° {{ devis.values.n_devis_ppe.value }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
            {% if not loop.last %}
                <hr class="border-gray-300 my-6 my-md-8">
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    {% include 'includes/account_login_form.html.twig' %}
{% endif %}