{% import "/macros/tool.html.twig" as macros %}

{% set image = current_bloc.values.image_alt.value %}
{% if not image and current_bloc.values.image.value %}
    {% set image = current_bloc.values.image.value %}
{% endif %}

{% set title = current_bloc.values.title_alt.value %}
{% if not title and current_bloc.values.title.value %}
    {% set title = current_bloc.values.title.value %}
{% endif %}

{% set text = current_bloc.values.text_alt.value %}
{% if not text and current_bloc.values.text.value %}
    {% set text = current_bloc.values.text.value %}
{% endif %}

{% set url = '/' ~ current_bloc.load_from.slug ~ '/' ~ current_bloc.values.url.value %}


<div {{ macros.getEditableBloc(current_bloc) }} class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg h-100" data-aos="fade-up" data-aos-delay="200">

    <!-- Image -->


    {% if current_bloc.values.image.value %}
        <a class="card-img-top" href="{{ url }}">
            <!-- Image -->
            {{ macros.img(current_bloc, "img-fluid mb-6 mb-md-0 aos-init aos-animate", 'data-aos="fade-up" data-aos-delay="100"',{width:320}) }}

            <!-- Shape -->
            <div class="position-relative">
                <div class="shape shape-bottom shape-fluid-x text-white">
                    <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"></path>
                    </svg>
                </div>
            </div>
        </a>
    {% endif %}

    <!-- Labels -->
    {% if current_bloc.values.label_1_label.value %}
        <div class="position-relative mx-6 mt-n4">
            {% if current_bloc.values.label_1_label.value %}
                {{ macros.label(current_bloc, 1) }}
            {% endif %}
            {% if current_bloc.values.label_2_label.value %}
                {{ macros.label(current_bloc, 2) }}
            {% endif %}
            {% if current_bloc.values.label_3_label.value %}
                {{ macros.label(current_bloc, 3) }}
            {% endif %}
        </div>
    {% endif %}

    <!-- Body -->
    <a class="card-body" href="{{ url }}">

        <!-- Heading -->
        {{ macros.header(current_bloc,3) }}

        <!-- Text -->
        <div class="mb-0 text-muted">{{ text|snl2br|raw }}</div>

{#        {% if current_bloc.button_text %}#}
{#            {{ macros.button(current_bloc) }}#}
{#        {% endif %}#}
    </a>

    <!-- Meta -->
    <a class="card-meta mt-auto" href="{{ url }}">
        <!-- Divider -->
        <hr class="card-meta-divider">

        <!-- Date -->
        <p class="h6 text-uppercase text-muted mb-0">
            <time datetime="{{ current_bloc.publication_date|date("Y-m-d") }}">Publié le {{ current_bloc.publication_date|date("d/m/Y") }}</time>
        </p>
    </a>
</div>