{% import "/macros/tool.html.twig" as macros %}

{% set image = current_bloc.image_alt %}
{% if not image and current_bloc.image %}
    {% set image = current_bloc.image %}
{% endif %}

{% set title = current_bloc.title_alt %}
{% if not title and current_bloc.title %}
    {% set title = current_bloc.title %}
{% endif %}

{% set text = current_bloc.text_alt %}
{% if not text and current_bloc.text %}
    {% set text = current_bloc.text %}
{% endif %}

{% set url = '/' ~ current_bloc.load_from.slug ~ '/' ~ current_bloc.url %}


<div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg h-100" data-aos="fade-up" data-aos-delay="200">

    <!-- Image -->
    {% if image %}
        <a class="card-img-top" href="{{ url }}">
            <!-- Image -->
            <img src="{{ asset(image) }}" alt="{{ image.client_name }}" class="card-img-top">

            <!-- Shape -->
            <div class="position-relative">
                <div class="shape shape-bottom shape-fluid-x text-white">
                    <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"></path>
                    </svg>
                </div>
            </div>
        </a>
    {% endif %}

    <!-- Labels -->
    {% if current_bloc.label_1_label %}
        <div class="position-relative mx-6 mt-n4">
            {% if current_bloc.label_1_label %}
                {{ macros.label(current_bloc, 1) }}
            {% endif %}
            {% if current_bloc.label_2_label %}
                {{ macros.label(current_bloc, 2) }}
            {% endif %}
            {% if current_bloc.label_3_label %}
                {{ macros.label(current_bloc, 3) }}
            {% endif %}
        </div>
    {% endif %}

    <!-- Body -->
    <a class="card-body" href="{{ url }}">

        <!-- Heading -->
        {{ macros.header(current_bloc,3) }}

        <!-- Text -->
        <p class="mb-0 text-muted">{{ text|snl2br|raw }}</p>

{#        {% if current_bloc.button_text %}#}
{#            {{ macros.button(current_bloc) }}#}
{#        {% endif %}#}
    </a>

    <!-- Meta -->
    <a class="card-meta mt-auto" href="{{ url }}">
        <!-- Divider -->
        <hr class="card-meta-divider">

        <!-- Date -->
        <p class="h6 text-uppercase text-muted mb-0">
            <time datetime="{{ current_bloc.publication_date|date("Y-m-d") }}">Publié le {{ current_bloc.publication_date|date("d/m/Y") }}</time>
        </p>
    </a>
</div>