{% import "/macros/tool.html.twig" as macros %}

{% set image = current_bloc.values.image_alt.value %}
{% if not image and current_bloc.values.image.value %}
    {% set image = current_bloc.values.image.value %}
{% endif %}

{% set title = current_bloc.values.title_alt.value %}
{% if not title and current_bloc.values.title.value %}
    {% set title = current_bloc.values.title.value %}
{% endif %}

{% set text = current_bloc.values.text_alt.value %}
{% if not text and current_bloc.values.text.value %}
    {% set text = current_bloc.values.text.value %}
{% endif %}

{% set url = '/' ~ current_bloc.load_from.slug ~ '/' ~ current_bloc.values.url.value %}


<div {{ macros.getEditableBloc(current_bloc) }} class=" card mb-6 mb-lg-0 shadow-light-lg " data-aos="fade-up" data-aos-delay="200">



        <h2 class="accordion-header" id="heading{{ current_bloc.unique }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ current_bloc.unique }}" aria-expanded="true" aria-controls="collapse{{ current_bloc.unique }}">
                {{ title}}
            </button>
        </h2>
        <div id="collapse{{ current_bloc.unique }}" class="accordion-collapse collapse" aria-labelledby="heading{{ current_bloc.unique }}" data-bs-parent="#accordion">
            <div class="accordion-body">
                {{ text|snl2br|raw }}
            </div>
        </div>


</div>