{% import "/macros/tool.html.twig" as macros %}
{% import "/macros/formbuilder.html.twig" as formbuilder %}

<div class="{{ macros.getBlocClasses(current_bloc) }}" style="{{ macros.getStyles(current_bloc, "")|trim }}" {{ macros.getEditableBloc(current_bloc) }} data-aos="fade-up" data-aos-delay="200">
    <form onsubmit="event.preventDefault();return false;" class="form-horizontal" data-method="{{ current_bloc.form.method }}" >

        <input type="hidden" name="form" value="{{ current_bloc.form.moduleId }}" />
        <input type="hidden" name="formId" value="{{ current_bloc.form.miniFormId }}" />
    {% for field in current_bloc.form.fields %}
        {{ formbuilder.buildField(field) }}
    {% endfor %}
        {{ formbuilder.sendButton(current_bloc.form) }}
{#        <pre>#}
{#            {{ dump(current_bloc.form) }}#}
{#        </pre>#}
    </form>

</div>