{% import "/macros/tool.html.twig" as macros %}

<a data-gallery class="card card-flush mb-7 {{ current_bloc.classes|join(" ") }}" style="{{ macros.getStyles(current_bloc, "")|trim }}" data-aos="fade-up" data-aos-delay="200" href="{{ asset(current_bloc.image) }}">
    <!-- Image -->
    <div class="card-zoom">
        <img src="{{ asset(current_bloc.image) }}" title="{{ current_bloc.title }}" class="card-img-top rounded shadow-light-lg">
    </div>

    <!-- Footer -->
    <div class="card-footer">
        {% if current_bloc.title %}
            <!-- Preheading -->
            <h6 class="text-uppercase mb-1 text-muted">{{ current_bloc.title }}</h6>
        {% endif %}
        {% if current_bloc.text %}
            <!-- Heading -->
            <h4 class="mb-0">{{ current_bloc.text }}</h4>
        {% endif %}
    </div>
</a>