{% import "/macros/tool.html.twig" as macros %}

<div class="{{ macros.getBlocClasses(current_bloc) }}" style="{{ macros.getStyles(current_bloc, "")|trim }}" {{ macros.getEditableBloc(current_bloc) }} data-aos="fade-up" data-aos-delay="200">

    {% if current_bloc.values.label_1_label.value %}
        <div class="position-relative text-start mb-3">
            {% if current_bloc.values.label_1_label.value %}
                {{ macros.label(current_bloc, 1) }}
            {% endif %}
            {% if current_bloc.values.label_2_label.value %}
                {{ macros.label(current_bloc, 2) }}
            {% endif %}
            {% if current_bloc.values.label_3_label.value %}
                {{ macros.label(current_bloc, 3) }}
            {% endif %}
        </div>
    {% endif %}

    {% if current_bloc.values.icon_icon.value or current_bloc.values.icon_logo.value %}
        <div class="mb-5">{{ macros.icon(current_bloc) }}</div>
    {% endif %}

    {% if current_bloc.values.title.value %}
        {{ macros.header(current_bloc,current_bloc.values.header_size.value?:2,'','',0) }}
    {% endif %}

    {% if current_bloc.values.text.value %}
    <span class="text-muted mt-5" style="{{ macros.getStyles(current_bloc, "text_")|trim }}">
        {% if isHTML(current_bloc.values.text.value) %}
            {{ current_bloc.values.text.value|raw }}
        {% else %}
            {{ current_bloc.values.text.value|snl2br|raw }}
        {% endif %}
    </span>
    {% endif %}


    <div class="row boutons">
        <div class="col text-start">
    {% if current_bloc.values.image.value %}

        {{ macros.img(current_bloc, "img-fluid") }}

    {% endif %}

    {% if current_bloc.values.image2.value %}

        {{ macros.img2(current_bloc, "img-fluid") }}

    {% endif %}
        </div>
    </div>

    {% if current_bloc.values.files %}
        {{ macros.files(current_bloc) }}
    {% endif %}

    {% if current_bloc.values.author.value %}
        <p class="mt-2 pt-2 border-top text-muted text-right fst-italic">{{ current_bloc.values.author.value|snl2br|raw }}</p>
    {% endif %}

    {% if current_bloc.values.button_text.value %}
        <div class="mt-5">
            {{ macros.button(current_bloc) }}
        </div>
    {% endif %}

</div>