{% import "/macros/tool.html.twig" as macros %}

<div class="{{ current_bloc.classes|join(" ") }}" data-aos="fade-up" data-aos-delay="200">

    {% if current_bloc.image %}
        {% if current_bloc.image_link %}<a href="{{ current_bloc.image_link }}">{% endif %}
        <img class="img-fluid" src="{{ asset(current_bloc.image) }}" alt="{{ current_bloc.image.client_name }}">
        {% if current_bloc.image_link %}</a>{% endif %}
    {% endif %}

    {% if current_bloc.title %}
        {{ macros.headers(current_bloc,2) }}
    {% endif %}

    {% if current_bloc.text %}
        <p style="{{ macros.getStyles(current_bloc, "text_")|snl2br|trim }}" class="text-muted mt-5">{{ current_bloc.text|snl2br|raw }}</p>
    {% endif %}

    {% if current_bloc.button_text %}
        {{ macros.button(current_bloc) }}
    {% endif %}

</div>