{% import "/macros/tool.html.twig" as macros %}

<div class="py-10 pt-md-14 top {{ macros.getBlocClasses(current_bloc) }}" style="{{ macros.getStyles(current_bloc, "")|trim }}">
    <div {{ macros.getEditableBloc(current_bloc) }} class="row align-items-center">
        {% if current_bloc.values.image.value %}
        <div class="col-12 col-md-5 col-lg-5 order-md-2 text-md-end text-center">
                {{ macros.img(current_bloc, "img-fluid card-img mb-6 mb-md-0 aos-init aos-animate", 'data-aos="fade-up" data-aos-delay="100"') }}
        </div>
        {% endif %}
        <div class="col-12 col-md-7 col-lg-7 order-md-1 aos-init aos-animate" data-aos="fade-up">
            <!-- Label -->
            {% if current_bloc.values.label_1_label.value %}
                <div class="position-relative text-start mb-3">
                    {% if current_bloc.values.label_1_label.value %}
                        {{ macros.label(current_bloc, 1) }}
                    {% endif %}
                    {% if current_bloc.values.label_2_label.value %}
                        {{ macros.label(current_bloc, 2) }}
                    {% endif %}
                    {% if current_bloc.values.label_3_label.value %}
                        {{ macros.label(current_bloc, 3) }}
                    {% endif %}
                </div>
            {% endif %}

            <!-- Icon -->
            {% if current_bloc.values.icon_icon.value or current_bloc.values.icon_logo.value %}
                <div class="mb-5">{{ macros.icon(current_bloc) }}</div>
            {% endif %}

            <!-- Headers -->
            {% if current_bloc.values.title.value %}
                {{ macros.header(current_bloc, current_bloc.values.header_size.value?:1,"text-center text-md-start ") }}
            {% endif %}

            <!-- Text -->
            {% if current_bloc.values.text.value %}
            <span class="text-center text-md-start mb-6 mb-lg-8" style="{{ macros.getStyles(current_bloc, "text_")|trim }}">
                {% if isHTML(current_bloc.values.text.value) %}
                    {{ current_bloc.values.text.value|raw }}
                {% else %}
                    {{ current_bloc.values.text.value|snl2br|raw }}
                {% endif %}
            </span>
            {% endif %}
{#            {% if current_bloc.values.text.value %}#}
{#                <p class="text-center text-md-start mb-6 mb-lg-8" style="{{ macros.getStyles(current_bloc, "text_")|trim }}">{{ current_bloc.values.text.value|snl2br|raw }}</p>#}
{#            {% endif %}#}

            {% if current_bloc.values.files %}
                {{ macros.files(current_bloc) }}
            {% endif %}

            <!-- Author -->
            {% if current_bloc.values.author.value %}
                <p class="mt-2 pt-2 border-top text-right fst-italic">{{ current_bloc.values.author.value|snl2br|raw }}</p>
            {% endif %}

            <!-- Button -->
            {% if current_bloc.values.button_text.value %}
                <div class="text-center text-md-start">
                    {{ macros.button(current_bloc, " btn-primary shadow lift me-1 ") }}
                </div>
            {% endif %}
        </div>
    </div>
</div>