{% import "/macros/tool.html.twig" as macros %}

<div class="py-10 pt-md-14" style="{{ macros.getStyles(current_bloc, "")|trim }}">
    <div class="row align-items-center">
        <div class="col-12 col-md-5 col-lg-6 order-md-2">

            <!-- Image -->
            <img src="{{ asset(current_bloc.image) }}" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="{{ current_bloc.title }}" data-aos="fade-up" data-aos-delay="100">

        </div>
        <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">

            <!-- Headers -->
            {% if current_bloc.title %}
                {{ macros.headers(current_bloc, "1"," display-3 text-center text-md-start ") }}
            {% endif %}

            <!-- Text -->
            {% if current_bloc.text %}
                <p class="lead text-center text-md-start text-muted mb-6 mb-lg-8" style="{{ macros.getStyles(current_bloc, "text_")|snl2br|trim }}">{{ current_bloc.text|raw|nl2br }}</p>
            {% endif %}

            <!-- Button -->
            {% if current_bloc.button_text %}
                <div class="text-center text-md-start">
                    {{ macros.button(current_bloc, " btn-primary shadow lift me-1 ") }}
                </div>
            {% endif %}

        </div>
    </div>
</div>