{% import "/macros/tool.html.twig" as macros %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{{ current_page.values.seo_title.value ? current_page.values.seo_title.value ~ " - " : "" }}{{ web.values.title.value }}</title>

    {% if current_page.values.seo_description.value %}
        <meta name="description" content="{{ current_page.values.seo_description.value }}">
    {% endif %}

    {% if current_page.values.seo_og_title.value %}
        <meta property="og:title" content="{{ current_page.values.seo_og_title.value }}">
    {% endif %}
    {% if current_page.values.seo_og_description.value %}
        <meta property="og:description" content="{{ current_page.values.seo_og_description.value }}">
    {% endif %}
    {% if current_page.values.seo_og_type.value %}
        <meta property="og:type" content="{{ current_page.values.seo_og_type.value }}">
    {% endif %}
    {% if current_page.values.seo_og_image.value %}
        <meta property="og:image" content="{{ asset(current_page.values.seo_og_image.value) }}">
    {% endif %}

    {% if current_page.values.seo_canonical.value %}
        <link rel="canonical" href="{{ current_page.values.seo_canonical.value }}">
    {% endif %}

    <!-- Favicons -->
    {% if web.values.favicon.value %}
        <link href="{{ asset(web.values.favicon) }}" rel="icon">
    {% endif %}

    <!-- Template Main CSS File -->
    <link href="{{ asset("assets/dist/css/libs.bundle.css") }}" rel="stylesheet">
    <link href="{{ asset("assets/dist/css/theme.bundle.css") }}" rel="stylesheet">
    <link href="{{ asset("assets/vendor/fontawesome-pro-5.15.4-web/css/all.min.css") }}" rel="stylesheet">
    <link href="{{ asset("assets/vendor/simplelightbox-master/dist/simple-lightbox.min.css") }}" rel="stylesheet">

    <style>
        .sl-overlay {opacity: 1;}
    </style>

    {% if web.values.html_header.value %}
        {{ web.values.html_header.value|raw }}
    {% endif %}

    {% if current_page.values.html_header.value %}
        {{ current_page.values.html_header.value|raw }}
    {% endif %}
</head>

<body style="overflow-x: hidden;">
{% block content %}
{% endblock %}

<!-- Template Main JS File -->
<script src="{{ asset('assets/dist/js/vendor.bundle.js') }}"></script>
<script src="{{ asset('assets/dist/js/theme.bundle.js') }}"></script>
<script src="{{ asset('assets/vendor/simplelightbox-master/dist/simple-lightbox.min.js') }}"></script>
<script>
    new SimpleLightbox('[data-gallery]');
</script>
{{ macros.getEditMode(current_page,config) }}
</body>
</html>